@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;300;400;700&display=swap');

.about__box{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.about__box--reverse{
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
}

.about__header--left{
    text-align: left;
    margin: 10px 0;
    padding-left: 60px;
}

.about__text--md{
    font-size: 1.8rem;
}

.about__link--left{
    display: block;
    text-align: left;
    color: black;
    text-decoration: none;
    font-size: 1.4em;
    padding-left: 60px;
    margin: 10px 0;
}

.about__list--gris{
    color: grey;
    list-style: square;
    padding-left: 80px;
    font-size: 1.4em;
    line-height: 1.8em;
    font-weight: 300;
    margin: 10px 0;
}

.about__img--md:hover{
    border: solid 1px black;
}

.about ul li:nth-child(){
    color: black;
}

.about ul li:last-child{
    color: aquamarine;
}

.about h2.one::before{
    content: "**";
    margin-right: 10px;
}

.about h2.one::after{
    content: "**";
    color: black;
    margin-left: 10px;
}

.about p.two::first-letter{
    color: darkgoldenrod;
    font-size: 2em;
    background-color: aliceblue;
}

.about p.two::first-line{
    font-weight: 700;
}
