
.img-vinchi{
    width:  90%;
    object-fit: cover;
    padding-left: 3%;
 }
 
 .img-promo{
     object-fit: cover;
     width: 40%;
 }
 
 .img-mujer{
    width: 70%;
    object-fit: cover;
    padding-left: 3%;
 }
 
 .img-contactate{
     width: 60%;
     object-fit: cover;
     padding-left: 3%;
     justify-content: center;
 }
 
 .img{
     object-fit: cover;
     width: 100%;
     align-items: center;
      /*TAMAÑO CATALOGO*/
 }
 
 .img2{
     width: 250px;
     /*TAMAÑO LOGO VAGO*/
 }
 
 .img3{
     width: 50px;
     /*TAMAÑO IMAGENES IG Y FB */
 }
 
 .img4{
     width: 100%;
 }
