
.img-vinchi{
    width:  90vh;
    object-fit: cover;
    padding-left: 3%;
 }
 
 .img-promo{
     object-fit: cover;
     height: 40%;
 }
 
 .img-mujer{
    width: 40%;
    object-fit: cover;
 }
 
 .img-contactate{
     height: 60vh;
     object-fit: cover;
     padding-left: 3%;
     justify-content: center;
 }
 
 .img{
     object-fit: cover;
     width: 100%;
     align-items: center;
      /*TAMAÑO CATALOGO*/
 }
 
 .img2{
     width: 250px;
     /*TAMAÑO LOGO VAGO*/
 }
 
 .img3{
     width: 50px;
     /*TAMAÑO IMAGENES IG Y FB */
 }
 
 .img4{
     width: 100%;
 }

 footer{
    margin-top: 50px;
    background-color: $bluedarkColor;
     display: flex;
     justify-content: space-around;
     svg{
        width: 30px;
        margin-right: 10px;
     }
     a{
        text-decoration: none;
        color: $secondaryColor;
        font-size: $textMd;
        display: block;
     }
}
