// nesting / anidacion
nav{
    background-color: $mainColor;
    border-top: solid 5px $redColor;
    border-right: solid 5px $cyanColor;
    border-bottom: solid 5px $greenyellowColor;
    border-left: solid 5px $yellowgreenColor;
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    img{
        width: 10%;
        }
        ul{
            list-style: none;
            display: flex;
            margin-left: 20px;
            li{
                color: $ainsboroColor;
                margin-right: 10px;
                a{
                    color: $secondaryColor;
                    text-decoration: underline;
                    font-size: $textBold;
                    font-family: $mainFont;
                    font-weight: $textMd;
                    /*subrayado animado*/
                    background-image: linear-gradient(currentColor, currentColor);
                    background-position: 0% 100%;
                    background-repeat: no-repeat;
                    background-size: 0% 2px;
                    transition: background-size .3s;
                    &:hover{
                       color: $keyColor;
                       /*subrayado animado*/
                        background-size: 100& 2px;
                    }
                       &:visited{
                        color: $greyColor;
                       }
                        :active{
                            color: $redColor;
                            }
                        
                    
                }
            }
        }
    }
