// variables globolaes

//colores
$mainColor: white;
$secondaryColor: black;
$keyColor: brown;
$greenColor: green;
$redColor: red;
$greenyellowColor: greenyellow;
$yellowgreenColor: yellowgreen;
$cyanColor: cyan;
$greyColor: grey;
$brownColor: brown;
$palevioletredColor: palevioletred;
$paleturquoiseColor: paleturquoise;
$palegoldenrodColor: palegoldenrod;
$palegreenColor: palegreen;
$ainsboroColor: ainsboro;
$bluedarkColor: rgb(3, 34, 59);



//fonts
$mainFont: 'Source Code Pro', sans-serif; 
$textSm: 1em;
$textMd: 1.5em;
$textLg: 2,4em;
$textBold: 700;
$textLigth: 300;
